@page "/Edit/{Id:int}"
@using BlazorApp.Models
@using BlazorApp.Data

@inject ITodosData TodoData
@inject NavigationManager NavigationManager

<h3>Edit todo with id: @Id</h3>
@if (todoToEdit == null)
{
    <em>Todo Not found!</em>
}
else
{
    <EditForm Model="@todoToEdit" OnValidSubmit="@Save">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <ValidationSummary></ValidationSummary>
        <div class="form-group">
            User Id: <br/>
            <InputNumber @bind-Value="todoToEdit.UserId"></InputNumber>
        </div>
        <div class="form-group">
            Title: <br/>
            <InputTextArea rows="4" @bind-Value="todoToEdit.Title"></InputTextArea>
        </div>

        <p class="actions">
            <button class="btn btn-outline-dark" type="submit">Save</button>
        </p>
    </EditForm>
    
}



@code {

    [Parameter]
    public int Id { get; set; }

    private Todo todoToEdit;

    protected override async Task OnInitializedAsync()
    {
        todoToEdit = TodoData.get(Id);
    }

    private void Save()
    {
        TodoData.Update(todoToEdit);
        NavigationManager.NavigateTo("/Todos");
    }

}